:root {
  --color-primary: #373b41;
  --color-light: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

body {
  margin: 0;
}

#sparticles {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

section {
  height: 100vh;
  line-height: 0.95;
  width: 100%;
  margin: auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img_left {
  position: absolute;
  height: 350px;
  width: 225px;
  background: gray;
  margin-left: 5%;
  margin-top: 3%;
  z-index: 1;
}
.img_left:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(255, 100, 203, 0.25);
  position: absolute;
  top: 0;
}

.bottom {
  font-size: 1.25em;
  flex-direction: row;
  height: auto;
  min-height: 100vh;
}
.bottom .left {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  min-height: 100vh;
  height: auto;
}
.bottom .left .card_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.bottom .left .card_container .card {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: calc(50% - 2rem);
  background: white;
  margin: 1rem;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.25);
  position: relative;
}
.bottom .left .card_container .card p {
  margin-top: 1.5rem;
  color: #A4A4A4;
  margin-bottom: 5rem;
}
.bottom .left .card_container .card a {
  position: absolute;
  bottom: 1rem;
  text-decoration: none;
  color: white;
  background: #FF64CB;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.5rem;
}
.bottom .right {
  min-height: 100vh;
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .right h1 {
  font-size: 6rem;
  font-weight: normal;
}

.top {
  height: 100vh;
  background: white;
  font-size: 1.25em;
  flex-direction: row;
}
.top .left {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .left .text {
  z-index: 3;
}
.top .left .text:before {
  content: "";
  width: 25%;
  margin-left: 1.5rem;
  height: 0.5rem;
  background: #FF64CB;
  border-radius: 25px;
  display: block;
}
.top .left .text h1 {
  padding: 1rem;
  font-size: 7rem;
  color: black;
  font-weight: normal;
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.top .left .text h1:first-of-type {
  position: relative;
  z-index: -1;
}
.top .img_right {
  width: 50%;
  height: 100vh;
}

.name {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #b4ecb4;
  font-weight: bolder;
  font-size: 6em;
  letter-spacing: 0.1rem;
  transition: 1.25s;
}

.modeSwitchWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  color: #171827;
  z-index: 10;
  width: 50%;
}
.modeSwitchWrapper .inputs {
  display: flex;
  align-items: center;
}
.modeSwitchWrapper .inputs .moon_circle {
  width: 24px;
  height: 24px;
  z-index: -5;
  border-radius: 50%;
  background: #171827;
  position: absolute;
  visibility: hidden;
  left: 40px;
  top: 25px;
}
.modeSwitchWrapper .links {
  padding-right: 1.5rem;
}
.modeSwitchWrapper .links .github {
  background: #FF64CB;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}
.modeSwitchWrapper .links a {
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  font-weight: bold;
}

.modeSwitchInput {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 20px;
  border: 2px solid #474755;
  background: none;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.modeSwitchInput:focus {
  outline: 0;
}
.modeSwitchInput:checked:after {
  transform: translatex(20px);
  background: #FFE5B5;
  border: none;
}
.modeSwitchInput:checked ~ .moon_circle {
  visibility: visible;
  transition: 0.2s ease;
}
.modeSwitchInput:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: -5;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffd484;
  border: 3px solid #ffbd43;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

@media only screen and (max-width: 1200px) {
  .top .left {
    width: 50%;
  }
  .top .left .text h1 {
    font-size: 5rem;
  }
  .top .img_right {
    width: 50%;
  }

  .modeSwitchWrapper {
    width: 50%;
  }

  .bottom .left {
    width: 100%;
  }
  .bottom .right {
    display: none;
  }

  .bottom .left .card_container {
    flex-direction: row;
  }
  .bottom .left .card_container .card {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .top .left {
    width: 100%;
  }
  .top .img_right {
    display: none;
  }

  .modeSwitchWrapper {
    width: 100%;
    position: fixed;
  }

  .bottom .left .content .card {
    width: 85%;
  }
}/*# sourceMappingURL=app.css.map */