:root {
  --color-primary: #373b41;
  --color-light: #f3f3f3;
}

@font-face {
  src: url("../sfpro.ttf");
  font-family: "sf";
}
* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

body {
  margin: 0;
  background: var(--color-light);
}

section {
  height: 100vh;
  line-height: 0.95;
  width: 100%;
  margin: auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  height: 100vh;
}

.bottom {
  height: 150vh;
  background: white;
  font-family: "sf";
  font-size: 1.25em;
}
.bottom .blockWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.bottom .block {
  box-sizing: border-box;
  height: 250px;
  width: calc(50% - 50px);
  display: inline-block;
  line-height: 1.1;
  margin: 25px;
  background: white;
  color: black;
  position: relative;
  transform: skewY(-5deg);
  box-shadow: 1px 1px 5px #f1f1f1;
}
.bottom .block .btn {
  position: absolute;
  background: white;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 100px;
  text-align: center;
  padding: 5px;
}
.bottom .block .btn a {
  text-decoration: none;
  color: inherit;
}
.bottom .block .btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #f1f1f1;
  transform-origin: bottom;
  transform: skewX(45deg);
}
.bottom .block .btn:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 5px;
  height: 100%;
  background: #f1f1f1;
  transform-origin: left;
  transform: skewY(45deg);
}
.bottom .block:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #e0cdff;
  transform-origin: bottom;
  transform: skewX(45deg);
}
.bottom .block:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 50%;
  background: #e0cdff;
  transform-origin: left;
  transform: skewY(45deg);
  border-bottom: 125px solid #f1f1f1;
}
.bottom .block h1 {
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 15px;
  font-weight: normal;
  background: #efe5fe;
  height: 50%;
  color: #45298d;
}
.bottom .block ul {
  list-style: none;
  padding: 10px;
}
.bottom .block ul li .embed {
  color: lightblue;
}
.bottom .block ul li .embed a {
  color: inherit;
}

.contact {
  transform: skewY(-5deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background: #f1f1f1;
  height: 25vh;
}
.contact .contact_tile {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
.contact .contact_tile img {
  width: 50px;
  height: 50px;
}
.contact .contact_tile.one {
  left: 100px;
  z-index: 0;
}
.contact .contact_tile.two {
  left: 200px;
  z-index: -1;
}
.contact .contact_tile.three {
  left: 300px;
  z-index: -2;
}
.contact .contact_tile:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #e0cdff;
  transform-origin: bottom;
  transform: skewX(45deg);
}
.contact .contact_tile:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 5px;
  height: 100%;
  background: #e0cdff;
  transform-origin: left;
  transform: skewY(45deg);
}
.contact .contact_tile:hover {
  z-index: 5;
  transform: scale(1.1);
}

.name {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #b4ecb4;
  font-weight: bolder;
  font-size: 6em;
  letter-spacing: 0.1rem;
  transition: 1.25s;
}

.primary {
  color: black;
  font-size: 4em;
  -webkit-text-stroke-width: 0px;
  position: absolute;
}

#tsparticles {
  width: 10vw;
  height: 10vh;
  top: 0;
  left: 0;
  position: absolute;
  position: fixed;
}

.modeSwitchWrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  color: #171827;
  z-index: 10;
}

.modeSwitchInput {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 20px;
  border: 2px solid #474755;
  background: none;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.modeSwitchInput:focus {
  outline: 0;
}
.modeSwitchInput:checked:after {
  transform: translatex(20px);
  background: #FFE5B5;
  border: none;
}
.modeSwitchInput:checked ~ .moon_circle {
  visibility: visible;
  transition: 0.2s ease;
}
.modeSwitchInput:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: -5;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffd484;
  border: 3px solid #ffbd43;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.moon_circle {
  width: 24px;
  height: 24px;
  z-index: -5;
  border-radius: 50%;
  background: #171827;
  position: absolute;
  right: 66px;
  top: 20px;
  visibility: hidden;
}

/**
CUBE
**/
.cubes .name {
  font-size: 2em;
  -webkit-text-stroke-color: #b4ecb4;
}
.cubes .scene {
  width: 300px;
  height: 300px;
  margin: 80px;
  perspective: 400px;
}
.cubes .scene .cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.4s;
}
.cubes .scene .cube .cube__face {
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.cubes .scene .cube .cube__face--front {
  background: rgba(255, 0, 0, 0);
}
.cubes .scene .cube .cube__face--right {
  background: rgba(255, 255, 0, 0);
}
.cubes .scene .cube .cube__face--back {
  background: rgba(0, 255, 0, 0);
}
.cubes .scene .cube .cube__face--left {
  background: rgba(0, 255, 255, 0);
}
.cubes .scene .cube .cube__face--top {
  background: rgba(0, 0, 255, 0);
}
.cubes .scene .cube .cube__face--bottom {
  background: rgba(255, 0, 255, 0);
}
.cubes .scene .cube .cube__face--front {
  transform: rotateY(0deg) translateZ(150px);
}
.cubes .scene .cube .cube__face--right {
  transform: rotateY(90deg) translateZ(150px);
}
.cubes .scene .cube .cube__face--back {
  transform: rotateY(180deg) translateZ(150px);
}
.cubes .scene .cube .cube__face--left {
  transform: rotateY(-90deg) translateZ(150px);
}
.cubes .scene .cube .cube__face--top {
  transform: rotateX(90deg) translateZ(150px);
}
.cubes .scene .cube .cube__face--bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
.cubes .scene .cube .cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cubes .scene .cube .cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cubes .scene .cube .cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cubes .scene .cube .cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.cubes .scene .cube .cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cubes .scene .cube .cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }

  .scene {
    margin: auto;
  }

  .primary {
    font-size: 2.75em;
  }

  #tsparticles {
    display: none;
  }

  .modeSwitchWrapper {
    top: 0;
    left: 0;
    width: 100vw;
    background: #171827;
  }

  .bottom {
    height: 200vh;
  }
  .bottom .block {
    border: none;
    width: 100%;
    margin: 25px;
  }
}/*# sourceMappingURL=app.css.map */