:root {
    --text-color: #85678f;
    --color-primary: #373b41;
}

@font-face {
    src: url('../sfpro.ttf');
    font-family: 'sf';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    margin: 0;
    background: #f1f1f1;
}

section {
    height: 100vh;
    line-height: 0.95;
    width: 100%;
    margin: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top {
    height: 100vh;
}

.bottom {
    height: 100vh;
    background: white;
    font-family: 'sf';
    font-size: 1.25em;
}

.bottom .block {
    border: 2px solid black;
    color: white;
    width: 75vw;
    margin: 10px;
    padding: 50px;
    line-height: 1.1;
}

.bottom .block h1 {
    margin-bottom: 15px;
}

.bottom .block ul {
    list-style: none;
}

/* .bottom .block ul li {
    padding: 5px 0 5px 0;
} */

.bottom .block ul li .embed {
    color: lightblue;
}

.bottom .block ul li .embed a {
    text-decoration: none;
    color: inherit;
}

.name {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b4ecb4;
    font-weight: bolder;
    font-size: 6em;
    letter-spacing: .1rem;
    transition: 1.25s;
}

.primary {
    color: var(--color-primary);
    font-size: 4em;
    -webkit-text-stroke-width: 0px;
    position: absolute;
}

#tsparticles {
    width: 10vw;
    height: 10vh;
    top: 0;
    left: 0;
    position: absolute;
    position: fixed;
}

.modeSwitchWrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: 45px;
    color: #171827;
    z-index: 10;
}

.modeSwitchInput {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 20px;
    border: 2px solid #474755;
    background: none;
    transition: all .2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.modeSwitchInput:focus {
    outline: 0;
}

.modeSwitchInput:checked:after {
    transform: translatex(20px);
    background: #FFE5B5;
}

.moon_circle {
    width: 24px;
    height: 24px;
    z-index: -5;
    border-radius: 50%;
    background: #171827;
    position: absolute;
    right: 66px;
    top: 20px;
    visibility: hidden;
}

.modeSwitchInput:checked ~ .moon_circle {
    visibility: visible;
    transition: .2s ease;
}

.modeSwitchInput:after {
    content: '';
    position: absolute;
    z-index: -5;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffd484;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);
    transition: all .2s cubic-bezier(.5,.1,.75,1.35);
}

/**
CUBE
**/
.cubes .name {
    font-size: 2em;
    -webkit-text-stroke-color: #b4ecb4;
}

.scene {
    width: 300px;
    height: 300px;
    margin: 80px;
    perspective: 400px;
}
  
.cube {
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform .4s;
}
  
.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
  
.cube__face {
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
  
.cube__face--front  { background: hsla(  0, 100%, 50%, 0); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(150px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(150px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(150px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(150px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(150px); }

@media only screen and (max-width: 600px) {
    html {
        overflow-x: hidden;
    }

    .scene {
        margin: auto;
    }

    .primary {
        font-size: 2.75em;
    }

    .primary {
        font-size: 2.75em;
    }

    #tsparticles {
        display: none;
    }

    .modeSwitchWrapper {
        top: 0;
        left: 0;
        width: 100vw;
        background: #171827;
    }

    .bottom .block {
        padding: 5px;
        border: none;
    }
}