:root {
  --main-text-color: #BEB090 !important;
  --main-font: 'aesthetic';
  --search-icon-padding: 5px;
}

@font-face{
    font-family: 'aesthetic';
    src: url(../font/VCR_OSD_MONO_1.001.ttf);
}

*{
  box-sizing: border-box;
  font-family: 'aesthetic';
  font-size: 30px;
}

#bg, #cover{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#cover{
    min-width: 95%;
    min-height: 95%;
    background-image: linear-gradient(60deg,#baf8fd,10%,#baf8fd 100%);
}

#bg{
    min-width: 100%;
    min-height: 100%;
    background-image: url(../img/wallpaper.jpg);
}

.wrapper {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr) ;
  grid-template-rows: repeat(2, [row] auto  );
  opacity: 0;
  transition: 1s;
}

.top{
    grid-column: 1 / 13;
    grid-row: row;
    border: 2px solid rgba(0,0,0,0); 
    border-image-source: url(../img/border.jpg);
    border-image-slice: 20;
    border-image-width: 2;
}

.header{
    padding: 15px;
    text-align: center;
    color: rgb(190, 84, 252);
    text-shadow: 3px 3px #06cdee;
}

.middle-left {
    grid-column: 1/5;
    grid-row: row 2;
}

.middle-right {
    grid-column: 5/13;
    grid-row: row 2;
    background-image: url('../img/menuimg.jpg');
}

.main{
    grid-column: 1/13;
    grid-row: row 3;
    display: none;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.content-header{
    grid-column: 1 / 13;
    grid-row: 1;
}

.content-left{
    grid-column: 1 / 5;
    grid-row: 2;
    padding: 5px;
}

.content-body{
    grid-column: 1 / 13;
    grid-row: 2;
}

.content-right{
    grid-column: 5/13;
    grid-row: 2;
    padding: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column: 1 / 13;
}

ul li {
    margin: 0;
    padding: 0;
    display: block;
}

.header-green{
    background: #39836a;
}

.header-purple{
    background: #9a4880;
}

.link:hover{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.link-green{
    border-left: 6px solid#39836a;
}

.link-purple{
    border-left: 6px solid#9a4880;
}

.link-green:hover{
    background-color: #39836a;
    color: white;
}

.link-purple:hover{
    background-color: #9a4880;
}

.text-trigger{
    display: block;
}

.text-trigger .hidden{
    font-size: 0;
    color: #9a4880;
}

.text-trigger:hover .hidden{
    font-size: 25px;
}

.text-trigger:hover{
    background: black;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}