@font-face {
    font-family: "Hack";
    src: url("Hack-Regular.ttf");
}

:root {
    --color-peach: #f2c8aa;
    --dark-blue: #071d22;
}

* {
    box-sizing: border-box;
    font-family: Hack;
}

html, body {
    background-color: var(--color-peach);
}

.container {
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 15%;
}

.sidebar {
    padding: 5px;
}

.sidebar i {
    padding: 5px;
    font-size: 20px;
    color: var(--dark-blue);
}

.inputContainer {
    display: hidden;
}

.sidebar i:hover {
    cursor: pointer;
}

.tweet_wrapper {
    width: 100%;
    padding: 25px;
    border: 15px solid white;
    background-color: var(--dark-blue);
    color: white;
    box-shadow: 15px 15px 0px 0px #071d22;
}

.icons {
    top: 0;
    position: absolute;
    right: 0;
    padding: 15px;
}

.icons i {
    font-size: 35px;
    padding: 5px;
    color: var(--dark-blue);
    transition: .2s;
}

.icons i:hover {
    cursor: pointer;
    color: white;
    transition: .2s;
}

.date {
    color: var(--color-peach);
}

a {
    text-decoration: none;
    color: var(--color-peach);
}

@media only screen and (max-width: 1600px) {
    .tweet_wrapper {
        width: 75%;
    }
}

@media only screen and (max-width: 1080px) {
    .tweet_wrapper {
        width: 95%;
    }
    .icons {
        display: none;
    }
}
